<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lexian.mapper.ManagerMapper">
    <resultMap id="ManagerMap" type="Manager">
        <id property="ID" column="ID"/>
        <result property="role" column="role"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="nickname" column="nick_name"/>
        <result property="birthday" column="birthday"/>
        <result property="phone" column="phone"/>
    </resultMap>
    <select id="getRoleManagers" parameterType="java.lang.Integer" resultMap="ManagerMap">
        SELECT
        system_manager.ID,
        system_manager.`name`,
        system_manager.phone,
        system_manager.age,
        system_manager.sex,
        system_manager.nick_name,
        system_manager.birthday,
        system_manager.role
        FROM
        system_manager
        WHERE
        role = #{ i } AND is_delete=0
    </select>

    <insert id="addManager" parameterType="java.util.Map">
        INSERT INTO
        system_manager(system_manager.`name`,system_manager.phone,system_manager.nick_name,system_manager.role,system_manager.birthday)
        VALUES
        (#{name},#{phone},#{nickname},#{role},#{birthday})
    </insert>

    <update id="updateManager" parameterType="java.util.Map">
        UPDATE
        system_manager
        SET
        system_manager.`name`=#{name},
        system_manager.phone=#{phone},
        system_manager.nick_name=#{nickname},
        system_manager.role=#{role},
        system_manager.birthday=#{birthday}
        WHERE
        system_manager.ID=#{id}
    </update>

    <update id="deleteManager" parameterType="java.lang.Integer">
        UPDATE
        system_manager
        SET
        is_delete = 1
        WHERE
        ID = #{ index }
    </update>
</mapper>