<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lexian.mapper.ActivityShopMapper" >
    <resultMap id="BaseResultMap" type="lexian.entity.ActivityShop">
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="shop_id" property="shop_id" jdbcType="INTEGER" />
        <id column="activity_id" property="activity_id" jdbcType="INTEGER"/>
        <id column="is_delete" property="is_delete" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, shop_id, activity_id, is_delete
    </sql>
    <insert id="insertActivityShop" parameterType="java.util.HashMap">
        insert into
        activity_shop(shop_id, activity_id , is_delete)
        values
        (#{activityShop},#{shopActivityId},0)
    </insert>
</mapper>