<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lexian.mapper.FavoritesMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		commodity_id, customer_id, addtime,is_delete
	</sql>

	<select id="selectFavoritesByCommodityIdAndUid" parameterType="java.lang.String"
		resultType="java.util.Date">
		SELECT addtime FROM `favorites` where commodity_id =
		#{commodityId} AND customer_id =
		#{uid}

	</select>

	<insert id="insert" parameterType="java.util.Map">
		insert into
		favorites(commodity_id, customer_id, addtime,is_delete)
		values(#{commodityId},#{customerId},#{addtime},0)
	</insert>

	<delete id="deleteByCidAndUid" parameterType="java.lang.String">
	delete from favorites where commodity_id =
	#{commodityId} AND customer_id =
	#{uid}
	</delete>
	<!--
        更新数据库，完成用户收藏夹商品的逻辑删除
     -->
	<update id="cancelFavorite" parameterType="java.util.HashMap">
		UPDATE
		favorites
		SET
		is_delete = 1
		WHERE
		commodity_id = #{ID} AND
		customer_id = #{userID}
	</update>


</mapper>
