<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lexian.mapper.SpecsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="lexian.entity.Specs">
		<id column="id" property="id" />
		<result column="specs_name" property="specsName" />
		<result column="pid" property="pid" />
		<result column="sort" property="sort" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, specs_name, pid, sort
	</sql>

	<select id="selectSpecsByCommodityId" resultType="String" parameterType="java.lang.String">
		SELECT s.id
		FROM specs s JOIN specs_commodity sc ON s.id = sc.specs_id
		where
		sc.commodity_id = #{commodityId}
	</select>

	<select id="selectSpecsInList" parameterType="java.util.List"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM
		specs
		where id in
		<foreach item="id" collection="ids" open="(" separator=","
			close=")">
			#{id}
		</foreach>
		or pid in
		<foreach item="id" collection="ids" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>

</mapper>
