<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lexian.mapper.TaobaoMapper">
	<!--
		该Sql语句是获取所有的淘宝爬虫商品数据
	-->
    <select id="getAlltaobaoGoods" resultType="taobaoData"
            parameterType="java.lang.String">
		SELECT
		ID,name,price,peopleNum
		FROM
		taobao
		<if test="name != null ">
			WHERE name LIKE #{name}
		</if>
	</select>
</mapper>