<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lexian.mapper.UniBrowsingRecordMapper">

	<!--
		resultMap匹配查询数据和实体类
	-->
	<resultMap id="UniBrowsingRecord_map" type="UniBrowsingRecord">
		<id column="ID" property="id" />
		<result column="commodity_id" property="commodityId" />
		<result column="customer_id" property="customerId" />
		<result column="browsing_time" property="browsingTime" />
		<result column="isDelete" property="isDelete" />
		<result column="date" property="date" />
		<result column="price" property="price" />
		<result column="image" property="image" />
		<result column="name" property="name" />
	</resultMap>

	<!--
		查询UniApp端登陆用户的浏览历史记录
	-->
	<select id="getHistory" parameterType="java.lang.String" resultType="UniBrowsingRecord">
		SELECT
		commodity.ID,
		browsing_record.browsing_time,
		browsing_record.commodity_id,
		commodity.`name`,
	    commodity.price,
	    commodity.image
		FROM
		browsing_record
		INNER JOIN  commodity on browsing_record.commodity_id = commodity.ID
		WHERE
		browsing_record.customer_id = #{userID}
		AND browsing_record.isDelete= 0
		ORDER BY browsing_record.ID DESC
	</select>


</mapper>
