<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.quickapp.mapper.SettingsMapper" >
  <resultMap id="BaseResultMap" type="com.neu.quickapp.pojo.Settings" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="background_color" property="backgroundColor" jdbcType="VARCHAR" />
    <result column="message_remind" property="messageRemind" jdbcType="INTEGER" />
    <result column="music_remind" property="musicRemind" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, background_color, message_remind, music_remind, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neu.quickapp.pojo.SettingsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from settings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from settings
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from settings
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neu.quickapp.pojo.SettingsExample" >
    delete from settings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neu.quickapp.pojo.Settings" >
    insert into settings (id, background_color, message_remind, 
      music_remind, is_delete)
    values (#{id,jdbcType=INTEGER}, #{backgroundColor,jdbcType=VARCHAR}, #{messageRemind,jdbcType=INTEGER}, 
      #{musicRemind,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neu.quickapp.pojo.Settings" >
    insert into settings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="backgroundColor != null" >
        background_color,
      </if>
      <if test="messageRemind != null" >
        message_remind,
      </if>
      <if test="musicRemind != null" >
        music_remind,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="backgroundColor != null" >
        #{backgroundColor,jdbcType=VARCHAR},
      </if>
      <if test="messageRemind != null" >
        #{messageRemind,jdbcType=INTEGER},
      </if>
      <if test="musicRemind != null" >
        #{musicRemind,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neu.quickapp.pojo.SettingsExample" resultType="java.lang.Integer" >
    select count(*) from settings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update settings
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.backgroundColor != null" >
        background_color = #{record.backgroundColor,jdbcType=VARCHAR},
      </if>
      <if test="record.messageRemind != null" >
        message_remind = #{record.messageRemind,jdbcType=INTEGER},
      </if>
      <if test="record.musicRemind != null" >
        music_remind = #{record.musicRemind,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update settings
    set id = #{record.id,jdbcType=INTEGER},
      background_color = #{record.backgroundColor,jdbcType=VARCHAR},
      message_remind = #{record.messageRemind,jdbcType=INTEGER},
      music_remind = #{record.musicRemind,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neu.quickapp.pojo.Settings" >
    update settings
    <set >
      <if test="backgroundColor != null" >
        background_color = #{backgroundColor,jdbcType=VARCHAR},
      </if>
      <if test="messageRemind != null" >
        message_remind = #{messageRemind,jdbcType=INTEGER},
      </if>
      <if test="musicRemind != null" >
        music_remind = #{musicRemind,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neu.quickapp.pojo.Settings" >
    update settings
    set background_color = #{backgroundColor,jdbcType=VARCHAR},
      message_remind = #{messageRemind,jdbcType=INTEGER},
      music_remind = #{musicRemind,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>