<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.quickapp.mapper.ShopManagerShopMapper" >
  <resultMap id="BaseResultMap" type="com.neu.quickapp.pojo.ShopManagerShop" >
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <id column="shop_manager_id" property="shopManagerId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    shop_id, shop_manager_id, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neu.quickapp.pojo.ShopManagerShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_manager_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.neu.quickapp.pojo.ShopManagerShopKey" >
    select 
    <include refid="Base_Column_List" />
    from shop_manager_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
      and shop_manager_id = #{shopManagerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.neu.quickapp.pojo.ShopManagerShopKey" >
    delete from shop_manager_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
      and shop_manager_id = #{shopManagerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neu.quickapp.pojo.ShopManagerShopExample" >
    delete from shop_manager_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neu.quickapp.pojo.ShopManagerShop" >
    insert into shop_manager_shop (shop_id, shop_manager_id, is_delete
      )
    values (#{shopId,jdbcType=INTEGER}, #{shopManagerId,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neu.quickapp.pojo.ShopManagerShop" >
    insert into shop_manager_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopManagerId != null" >
        shop_manager_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopManagerId != null" >
        #{shopManagerId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neu.quickapp.pojo.ShopManagerShopExample" resultType="java.lang.Integer" >
    select count(*) from shop_manager_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shop_manager_shop
    <set >
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.shopManagerId != null" >
        shop_manager_id = #{record.shopManagerId,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shop_manager_shop
    set shop_id = #{record.shopId,jdbcType=INTEGER},
      shop_manager_id = #{record.shopManagerId,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neu.quickapp.pojo.ShopManagerShop" >
    update shop_manager_shop
    <set >
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
      and shop_manager_id = #{shopManagerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neu.quickapp.pojo.ShopManagerShop" >
    update shop_manager_shop
    set is_delete = #{isDelete,jdbcType=INTEGER}
    where shop_id = #{shopId,jdbcType=INTEGER}
      and shop_manager_id = #{shopManagerId,jdbcType=INTEGER}
  </update>
</mapper>