<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lexian.mapper.AddressMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="lexian.entity.Address">
		<id column="ID" property="id" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="location" property="location" />
		<result column="postcode" property="postcode" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="is_delete" property="isDelete" />
		<result column="status" property="addressStatus" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		ID, province, city, area, location, postcode, name, phone,
		is_delete
	</sql>

	<select id="selectAddressByCustomerId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		a.ID, a.province, a.city, a.area, a.location,
		a.postcode, a.name, a.phone,
		a.is_delete,ca.status
		FROM
		customer_address ca
		LEFT
		JOIN address a ON ca.address_id = a.id where ca.customer_id =
		#{customerId}

	</select>

</mapper>
