<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lexian.mapper.ShopManagerMapper" >
  <resultMap id="BaseResultMap" type="lexian.entity.ShopManager" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="nick_name" property="nick_name" jdbcType="VARCHAR" />
    <result column="user_image" property="user_image" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="login_name" property="login_name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="is_delete" property="is_delete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, name, age, sex, pwd, nick_name, user_image, birthday, login_name, phone, is_delete
  </sql>
  <select id="searchShopManager" resultType="ShopManager">
    select *
    from shop_manager
    where shop_manager.id = #{id} and shop_manage.is_delete = 0
  </select>
</mapper>